.left-navbar {
  height: 100% !important;
  li {
    border-bottom: 1px solid #282828;
    i {
      font-size: 30px;
      text-align: center;
      display: block;
    }
  }
}

/* Container of Left Tabs */
.sub-tab-content {
  position: relative;
  height: 100%;
  width: 300px;
  display: block;
  overflow: auto;
  white-space: nowrap;
  background-color: #262626;
  overflow: hidden;

  .tab-name {
    background-color: $dark-orange;
    padding: 10px 10px 5px 10px;
    border-bottom: 3px solid $light-orange;

    h6 {
      font-size: 12px;
      font-weight: bold;
    }
  }

  .preference-container {
    display: block;
    width: 750px;
    background-color: #272727;
  }
  h4 {
    color: #888;
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
  }
  .box-1 {
    background-color: #202020;
    border: 2px inset #262626;
    border-radius: 7px;
    font-family: "Courier New", Courier, monospace;

    .styled-select {
        width: 240px;
        height: 34px;
        overflow: hidden;
        float: right;

        select {
          height: 34px;
          width: 240px;
          padding: 5px;
          border: 0;
          border: 1px solid #030303;
          border-radius: 0;
          font-size: 14px;
          line-height: 1;
          color: #888;
          background-color: #151515;
        }
    }

  }
}


/** Context Menu **/
.context_menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;

  display: block;
  height: auto;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #000;
  
  font-weight: normal;
  white-space: nowrap;
  background-color: #272727;

  li {
    width: 120px;
    display: block;

    a {
      font-size: 12px;
    }

  }
  li:hover {
    background-color: #2e2e2e;


  }
}

.panel
{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    min-width: 200px;
}
a.nav-link {
  color: #777070 !important;
}
